:host {
  --base-select-active-color: var(--base-color-active, #2684ff);
  --base-select-font-size: 14px;
  --base-select-min-height: 38px;
  --base-select-background: none;
  --base-select-padding: 0 68px 4px 8px;
  --base-select-placeholder-color: var(--base-color-neutral-3, #b3b3b3);
  --base-select-border-width: var(--base-border-width-1, 1px);
  --base-select-border-style: solid;
  --base-select-border-color: var(--base-color-neutral-2, #e6e6e6);
  --base-select-border-radius: var(--base-border-radius-1, 0px);
}

:host {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  font-size: var(--base-select-font-size);
  min-height: var(--base-select-min-height);
  padding: var(--base-select-padding);
  background-color: var(--base-color-white);
  border-width: var(--base-select-border-width);
  border-style: var(--base-select-border-style);
  border-color: var(--base-select-border-color);
  border-radius: var(--base-select-border-radius);
  position: relative;
}

:host:hover {
  --base-select-border-color: #cecece;
}

:host([is-focused]) {
  box-shadow: 0px 0px 0px 1px var(--base-select-active-color);
  --base-select-border-color: var(--base-select-active-color);
}

:host([disabled]) {
  --base-select-background: #eee;
}

input[part="input-field"] {
  cursor: pointer;
  padding-left: 4px;
  margin-top: 4px;
}

:host([searchable]) input[part="input-field"] {
  cursor: text;
}

:host input[part="input-field"]::placeholder {
  font-size: var(--base-select-font-size);
  color: var(--base-select-placeholder-color);
}

:host(:not([multiple])) input[part="input-field"][has-value]::placeholder {
  --base-select-placeholder-color: #333;
  opacity: 1;
}

:host(:hover:not([multiple]):not([is-focused])) {
  --base-select-border-color: #dedede;
}

input[part="input-field"] {
  background: transparent;
  min-width: 100px;
  flex-grow: 1;
  font-size: 16px;
  border: 0;
  outline: 0;
}

button[part="clear-button"] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 26px;
  height: 26px;
  color: #333;
  top: 4px;
  right: calc(35px + 0);
  border: 0;
  background: transparent;
  outline: 0;
}

button[part="arrow-button"] {
  text-align: center;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4px;
  width: 26px;
  height: 26px;
  right: 4px;
  border: 0;
  outline: 0;
}

button[part="arrow-button"] .arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid currentColor;
}

button[part="arrow-button"] .arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
}

div[part="tag"] {
  font-size: 14px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
  margin-top: 6px;
  padding-left: 8px;
  margin-right: 4px;
  background: var(--base-neutral--2, #e6e6e6);
}

button[part="remove-tag"] {
  border: 0;
  color: currentColor;
  background: none;
  margin-left: 4px;
}

div[part="option-list"] {
  --base-select-option-list-border: var(--base-select-border-width) solid
    var(--base-neutral--2, #e6e6e6);
  --base-select-option-list-border-radius: var(--base-select-border-radius);
  --base-select-option-list-box-shadow: 0px;

  position: absolute;
  left: 0;
  top: 110%;
  width: 100%;
  max-width: 100%;
  z-index: 600;
  box-sizing: border-box;
  border: var(--base-select-option-list-border);
  margin: 0;
  list-style: none;
  box-shadow: var(--base-select-option-list-box-shadow);
  border-radius: var(--base-select-option-list-border-radius);
  background: white;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
